html, body {
  height: 100%;
}
.body {
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: wheat;
}
h1 {
  font-size: 56px;
}

.tile {
  width: 20px;
  height: 20px;
  background-color: gray;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.flagged {
  background-color: yellow;
}

.bombed {
  background-color: red;
}

.revealed {
  background-color: white;
}

.settings {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .body {
    width: 100%;
  }
}

@media screen and (min-width: 701px) {
  .body {
    width: 60%;
  }
}
